# DataFrame of Pandas

In [54]:
import pandas as pd
import numpy as np

## Between Object

In [7]:
data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data = data, index = row, columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

### ADD, SUB

In [17]:
#Scalar 연산
result = df.add(1)
print(result)
result = df+1
print(result)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301
      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

In [18]:
#DataFrame 간 연산
data2 = [[1],[2],[3]]
df2 = pd.DataFrame(data=data2, index=row, columns=['col2'])
result = df.add(df2)
print(result)
result = df.add(df2,fill_value=True)
print(result)

      col1  col2  col3
row1   NaN    11   NaN
row2   NaN    22   NaN
row3   NaN    33   NaN
      col1  col2   col3
row1   2.0    11  101.0
row2   3.0    22  201.0
row3   4.0    33  301.0

In [21]:
#r_ : 연산 순서 reversed
result = df.rsub(df2, fill_value=True)
print(result)

      col1  col2   col3
row1   0.0    -9  -99.0
row2  -1.0   -18 -199.0
row3  -2.0   -27 -299.0

### MUL, DIV, MOD

In [23]:
#Scalar 연산
result=df.mul(2)
print(result)
result=df*2
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600
      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [41]:
#DataFrame간 연산
result=df.mul(df2)
print(result)
result=df.mul(df2, fill_value=True)  #DataFrame 전체를 사용하고 싶을때
print(result)
result=df.mul(df2, fill_value=0)     #해당 데이터만 사용하고 싶을때
print(result)

      col1  col2  col3
row1   NaN    10   NaN
row2   NaN    40   NaN
row3   NaN    90   NaN
      col1  col2   col3
row1   1.0    10  100.0
row2   2.0    40  200.0
row3   3.0    90  300.0
      col1  col2  col3
row1   0.0    10   0.0
row2   0.0    40   0.0
row3   0.0    90   0.0

In [39]:
#div, mod
result=df.div(df2,fill_value=True)                   
print(result) 
result=df.mod(df2,fill_value=100000) #각 columns의 maximum 값으로 바꿔줄 수 있으면 좋을 듯
print(result)

      col1  col2   col3
row1   1.0  10.0  100.0
row2   2.0  10.0  200.0
row3   3.0  10.0  300.0
      col1  col2   col3
row1   1.0     0  100.0
row2   2.0     0  200.0
row3   3.0     0  300.0

### POW, DOT

In [43]:
#pow
result=df.pow(df2,fill_value=True)
print(result)

      col1   col2   col3
row1   1.0     10  100.0
row2   2.0    400  200.0
row3   3.0  27000  300.0

In [51]:
#dot : Matrix multiplication
# col = ['col1','col2']
# row = ['row1','row2']
# col, row 표현되어 있으면 진행 안됨
data1 = [[1,2],[3,4]]
data2 = [[5,6],[7,8]]
df1 = pd.DataFrame(data=data1)
df2 = pd.DataFrame(data=data2)
print(df1)
print(df2)

   0  1
0  1  2
1  3  4
   0  1
0  5  6
1  7  8

In [52]:
result=df1.dot(df2)
print(result)

    0   1
0  19  22
1  43  50

## In Object

### Round

In [55]:
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = np.random.rand(3,3)*100
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

           col1       col2       col3
row1   5.906080  50.423048  50.873390
row2  42.119164  42.987631  60.157445
row3  44.738857  55.760809  45.756463

In [57]:
print(df.round(1))
print(df.round(0))
print(df.round(-1))

      col1  col2  col3
row1   5.9  50.4  50.9
row2  42.1  43.0  60.2
row3  44.7  55.8  45.8
      col1  col2  col3
row1   6.0  50.0  51.0
row2  42.0  43.0  60.0
row3  45.0  56.0  46.0
      col1  col2  col3
row1  10.0  50.0  50.0
row2  40.0  40.0  60.0
row3  40.0  60.0  50.0

### SUM : 해당 행(열)의 합 , PROD : 해당 행(열)의 곱

In [58]:
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = [[1,2,3],[4,5,6],[7,np.NaN,9]]
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1   2.0     3
row2     4   5.0     6
row3     7   NaN     9

In [59]:
print(df.sum(axis=0)) #행 방향 덧셈 > 열 표시
print(df.sum(axis=1))

col1    12.0
col2     7.0
col3    18.0
dtype: float64

In [63]:
print(df.sum(axis=0,skipna=False)) #NaN값을 0으로 치환하지 않음 : NaN이 있으면 쓸모없는 데이터 일 경우

col1    12.0
col2     NaN
col3    18.0
dtype: float64

In [64]:
print(df.sum(axis=0,min_count=3)) #value가 3개 미만일 경우 NaN 출력 : 소량의 데이터일 경우 쓸모 없을 경우

col1    12.0
col2     NaN
col3    18.0
dtype: float64

In [65]:
#PROD : 곱
print(df.prod(axis=0))
#곱셈의 경우 skipna가 NaN 을 1로 치환

col1     28.0
col2     10.0
col3    162.0
dtype: float64

### ABS : Absolute Value 반환, Transpose

In [66]:
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = [[-1,2,-3.5],[4,-5.5, 3+4j],[7,np.NaN,0]]
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2      col3
row1    -1   2.0 -3.5+0.0j
row2     4  -5.5  3.0+4.0j
row3     7   NaN  0.0+0.0j

In [67]:
print(df.abs())

      col1  col2  col3
row1     1   2.0   3.5
row2     4   5.5   5.0
row3     7   NaN   0.0

In [69]:
col = ['col1','col2','col3']
row = ['row1','row2','row3','row4']
data = [['A',1,2],['B',3,4],['C',5,6],['D',7,8]]
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

     col1  col2  col3
row1    A     1     2
row2    B     3     4
row3    C     5     6
row4    D     7     8

In [70]:
print(df.transpose())

     row1 row2 row3 row4
col1    A    B    C    D
col2    1    3    5    7
col3    2    4    6    8

### RANK

In [80]:
row = ['a','b','c','d','e','f']
col = ['test1']
data = [[80],[50],[50],[100],[90],[np.NaN]]
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

   test1
a   80.0
b   50.0
c   50.0
d  100.0
e   90.0
f    NaN

In [81]:
df['average']=df['test1'].rank(method='average') #method : 동점자 처리 방법 (average, min, max, first, dense)
print(df)

# df['column'] = 으로 간단하게 df에 columns 추가 가능

   test1  average
a   80.0      3.0
b   50.0      1.5
c   50.0      1.5
d  100.0      5.0
e   90.0      4.0
f    NaN      NaN

In [86]:
df['average_nan']=df['test1'].rank(method='dense', na_option='bottom', pct=True) 
print(df)
#NaN 처리 방법 : top(1등),bottom(꼴등),keep(NaN)
#pct=True > 백분위수 표기

   test1  average  average_nan
a   80.0      3.0          0.4
b   50.0      1.5          0.2
c   50.0      1.5          0.2
d  100.0      5.0          0.8
e   90.0      4.0          0.6
f    NaN      NaN          1.0

### DIFF

In [87]:
a = [1,2,3,4,5,6,7,8]
b = [1,2,4,8,16,32,64,128]
c = [8,7,6,5,4,3,2,1]
data = {"col1":a,"col2":b,"col3":c}
df = pd.DataFrame(data)
print(df)

   col1  col2  col3
0     1     1     8
1     2     2     7
2     3     4     6
3     4     8     5
4     5    16     4
5     6    32     3
6     7    64     2
7     8   128     1

In [90]:
print(df.diff(axis=0))
#이전 값과의 비교 (value = a_n - a_{n-1})

   col1  col2  col3
0   NaN   NaN   NaN
1   1.0   1.0  -1.0
2   1.0   2.0  -1.0
3   1.0   4.0  -1.0
4   1.0   8.0  -1.0
5   1.0  16.0  -1.0
6   1.0  32.0  -1.0
7   1.0  64.0  -1.0

In [96]:
print(df.diff(axis=0,periods=3)) #n번째 이전 값과 비교
print('\n')
print(df.diff(axis=0,periods=-2)) #n번째 이전 값과 비교

   col1   col2  col3
0   NaN    NaN   NaN
1   NaN    NaN   NaN
2   NaN    NaN   NaN
3   3.0    7.0  -3.0
4   3.0   14.0  -3.0
5   3.0   28.0  -3.0
6   3.0   56.0  -3.0
7   3.0  112.0  -3.0


   col1  col2  col3
0  -2.0  -3.0   2.0
1  -2.0  -6.0   2.0
2  -2.0 -12.0   2.0
3  -2.0 -24.0   2.0
4  -2.0 -48.0   2.0
5  -2.0 -96.0   2.0
6   NaN   NaN   NaN
7   NaN   NaN   NaN

### PCT_CHANGE

In [99]:
a = [1,1,4,4,1,1]
b = [1,2,4,8,16,32]
c = [1,np.nan,np.nan,np.nan,16,64]
data = {"col1":a,"col2":b,"col3":c}
df = pd.DataFrame(data)
print(df)

   col1  col2  col3
0     1     1   1.0
1     1     2   NaN
2     4     4   NaN
3     4     8   NaN
4     1    16  16.0
5     1    32  64.0

In [101]:
print(df.pct_change())    #이전값을 기준해 얼만큼 변화했는지

   col1  col2  col3
0   NaN   NaN   NaN
1  0.00   1.0   0.0
2  3.00   1.0   0.0
3  0.00   1.0   0.0
4 -0.75   1.0  15.0
5  0.00   1.0   3.0

In [103]:
print(df.pct_change(fill_method='bfill')) #nan을 before : 아래의 값으로 대체 (기본값 : ffill : forward)

   col1  col2  col3
0   NaN   NaN   NaN
1  0.00   1.0  15.0
2  3.00   1.0   0.0
3  0.00   1.0   0.0
4 -0.75   1.0   0.0
5  0.00   1.0   3.0

In [105]:
print(df.pct_change(limit=2))   #결측치 대체 개수

   col1  col2  col3
0   NaN   NaN   NaN
1  0.00   1.0   0.0
2  3.00   1.0   0.0
3  0.00   1.0   NaN
4 -0.75   1.0   NaN
5  0.00   1.0   3.0

### EXPANDING : 누적 연산

In [107]:
data = {'col1':[1,2,3,4],'col2':[3,7,5,6]}
idx = ['row1','row2','row3','row4']
df = pd.DataFrame(data = data, index = idx)
print(df)

      col1  col2
row1     1     3
row2     2     7
row3     3     5
row4     4     6

In [109]:
print(df.expanding().sum())

      col1  col2
row1   1.0   3.0
row2   3.0  10.0
row3   6.0  15.0
row4  10.0  21.0

In [116]:
# #numba 이용 연산속도 증가
# import numba
# print(df.expanding(method='table').sum(engine='numba'))

### Rolling : 현재 행포함 한 윈도우 내의 연산

In [117]:
print(df.rolling(window=3).sum())

      col1  col2
row1   NaN   NaN
row2   NaN   NaN
row3   6.0  15.0
row4   9.0  18.0

In [118]:
#closed : 범위 (default : right) (both, neither 가능 : 개수 +- 1씩 됨) 
#center=True : 기준 한 칸씩 위로 이동
print(df.rolling(window=3, closed='left').sum())

      col1  col2
row1   NaN   NaN
row2   NaN   NaN
row3   NaN   NaN
row4   6.0  15.0

In [119]:
#win_type : 가중치
#on='col_name' : 다른 column을 기준으로 rolling 수행

### Groupby : 그룹화 연산

In [120]:
idx=['A','A','B','B','B','C','C','C','D','D','D','D','E','E','E']
col=['col1','col2','col3']
data = np.random.randint(0,9,(15,3))
df = pd.DataFrame(data=data, index=idx, columns=col).reset_index()
print(df)

   index  col1  col2  col3
0      A     4     3     6
1      A     3     4     1
2      B     5     1     8
3      B     7     2     7
4      B     0     4     5
5      C     3     5     7
6      C     7     3     8
7      C     2     5     2
8      D     1     5     3
9      D     8     8     0
10     D     5     5     5
11     D     2     3     5
12     E     7     8     3
13     E     2     3     7
14     E     0     8     0

In [123]:
print(df.groupby('index').mean())
#mean, count, agg, apply ...

       col1      col2      col3
index
A       3.5  3.500000  3.500000
B       4.0  2.333333  6.666667
C       4.0  4.333333  5.666667
D       4.0  5.250000  3.250000
E       3.0  6.333333  3.333333

In [124]:
print(df.groupby('index').agg(['sum','mean']))

      col1      col2           col3
       sum mean  sum      mean  sum      mean
index
A        7  3.5    7  3.500000    7  3.500000
B       12  4.0    7  2.333333   20  6.666667
C       12  4.0   13  4.333333   17  5.666667
D       16  4.0   21  5.250000   13  3.250000
E        9  3.0   19  6.333333   10  3.333333

### EWM (지수가중함수) : https://wikidocs.net/152787